<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../vendors/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../styles/style.css" media="screen" title="no title" charset="utf-8">
    <script src="../vendors/angular.min.js" charset="utf-8"></script>
    <script src="../vendors/angular-route.js" charset="utf-8"></script>
    <script src="../scripts/base.js" charset="utf-8"></script>
    <title>BeanCounter</title>
  </head>
  <body>
      <main ng-view></main>
    <div ng-include="'/views/partials/nav.html'"></div>
  </body>
</html>
