<h2 id = "enterHead">What type of expense is this?</h2>
<div>
  <input type="number" maxlength = "15" placeholder="amount" ng-model = "amountIn" required><p>How Much?</p>

 <select ng-model = "categoryIn" required>
    <option disabled selected>Category</option>
    <option value = "rent">Rent</option>
    <option value = "utilities">Utilities</option>
    <option value = "misc. Bills">Misc. Bills</option>
    <option value = "transportation">Transportation</option>
    <option value = "groceries">Groceries</option>
    <option value = "entertainment">Entertainment</option>
    <option value = "other">Other</option>
</select>
<h4>Is this a one-time or recurring expense?</h4>
<select ng-model = "typeIn" required>
  <option value = false>One-Time</option>
  <option value = true>Recurring</option>
</select>
<!-- <form ng-model = "typeIn" required>
  <input name='radio' type="radio" value = "false">One-time<br>
  <input name='radio' type="radio" value = "true">Recurring
</form> -->
<p>On: </p>

<!-- <input ng-model = "dateIn" ui-date="{ dateFormat: 'yyyy-mm-dd' }" type = "date"> -->

<select ng-model = "date_month" required>
    <option disabled selected>Month</option>
    <option value = 01>Jan</option>
    <option value = 02>Feb</option>
    <option value = 03>Mar</option>
    <option value = 04>Apr</option>
    <option value = 05>May</option>
    <option value = 06>Jun</option>
    <option value = 07>Jul</option>
    <option value = 08>Aug</option>
    <option value = 09>Sep</option>
    <option value = 10>Oct</option>
    <option value = 11>Nov</option>
    <option value = 12>Dec</option>
</select>
<input type = "number" maxlength = "2" placeholder = "DD" ng-model = "date_day" required>
<input type = "number" maxlength = "4" placeholder = "YYYY" ng-model = "date_year" required><br>
<textarea ng-model = "descIn" maxlength = "30" placeholder = "Description"></textarea>
<button type="button" ng-click = "submitExpense()">Submit</button>
</div>
