<h2>Track Spending</h2>
<div id = "spendingSelect">
    <h4>Track from: </h4>
      <select ng-model = "min_month">
        <option disabled selected>Month</option>
        <option value = 01>Jan</option>
        <option value = 02>Feb</option>
        <option value = 03>Mar</option>
        <option value = 04>Apr</option>
        <option value = 05>May</option>
        <option value = 06>Jun</option>
        <option value = 07>Jul</option>
        <option value = 08>Aug</option>
        <option value = 09>Sep</option>
        <option value = 10>Oct</option>
        <option value = 11>Nov</option>
        <option value = 12>Dec</option>
      </select>
      <input type = "number" maxlength = "2" ng-model = "min_day" placeholder = "Day">
      <input type = "number" maxlength = "4" ng-model = "min_year" placeholder = "Year">
      <h4>To:</h4>
      <select ng-model = "max_month">
        <option selected>Month</option>
        <option value = 01>Jan</option>
        <option value = 02>Feb</option>
        <option value = 03>Mar</option>
        <option value = 04>Apr</option>
        <option value = 05>May</option>
        <option value = 06>Jun</option>
        <option value = 07>Jul</option>
        <option value = 08>Aug</option>
        <option value = 09>Sep</option>
        <option value = 10>Oct</option>
        <option value = 11>Nov</option>
        <option value = 12>Dec</option>
      </select>
      <input type = "number" maxlength = "2" ng-model = "max_day" placeholder = "Day">
      <input type = "number" maxlength = "4" ng-model = "max_year" placeholder = "Year">
      <button type="button" ng-click = "showMe()">Go</button>
</div>
<div id = "spendingDisplay">
  <h2>Your Spending:</h2>
  <ul ng-repeat = "date in alltheDates">
    <li>{{ date.category }}: {{ date.amount }}</li>
</div>
