<h2>View Expenses</h2>
<div id = "viewExSelect">
  <div id = "spaceMod">
<p>Show me</p>
<select ng-model = "catDefine">
  <option disabled selected>Expenses</option>
  <option>All</option>
  <option>All Rent</option>
  <option>All Utilities</option>
  <option>All Misc. Bills</option>
  <option>All Transportation</option>
  <option>All Groceries</option>
  <option>All Entertainment</option>
  <option>All Other</option>
</select>
<p>Expenses from: </p>
<input ng-model = "mindateDefine" type = "date" ui-date="{ dateFormat: 'yyyy-mm-dd' }">
<!-- <select ng-model = "minMonthDefine">
  <option disabled selected>Month</option>
  <option id = 01>Jan</option>
  <option id = 02>Feb</option>
  <option id = 03>Mar</option>
  <option id = 04>Apr</option>
  <option id = 05>May</option>
  <option id = 06>Jun</option>
  <option id = 07>Jul</option>
  <option id = 08>Aug</option>
  <option id = 09>Sep</option>
  <option id = 10>Oct</option>
  <option id = 11>Nov</option>
  <option id = 12>Dec</option>
</select>
<input type = "number" maxlength = "2" placeholder = "Day" ng-model = "mindayDefine">
<input type = "number" maxlength = "4" placeholder = "Year" ng-model = "minyearDefine"> -->
<p>To: </p>
<input ng-model = "maxdateDefine" type = "date" ui-date="{ dateFormat: 'yyyy-mm-dd' }">
<!-- <select ng-model = "maxmonthDefine">
  <option disabled selected>Month</option>
  <option id = 01>Jan</option>
  <option id = 02>Feb</option>
  <option id = 03>Mar</option>
  <option id = 04>Apr</option>
  <option id = 05>May</option>
  <option id = 06>Jun</option>
  <option id = 07>Jul</option>
  <option id = 08>Aug</option>
  <option id = 09>Sep</option>
  <option id = 10>Oct</option>
  <option id = 11>Nov</option>
  <option id = 12>Dec</option>
</select>
<input type = "number" maxlength = "2" placeholder = "Day" ng-model = "maxdayDefine">
<input type = "number" maxlength = "4" placeholder = "Year" ng-model = "maxyearDefine"> -->
<button type="button" ng-click = "getForMe()">Go</button>
</div>
</div>
<div id = "viewExDisp">
  <ul ng-repeat = "expense in alltheExpenses">
    <li> {{ expense.description }}, {{ expense.amount }}, {{ expense.category }}, {{ expense.date }} <div id = "viewExButton"><button type="button" ng-click = "editRow()" name="button">Edit</button> <button type="button" id = "vieExDel" ng-click = "deleteRow()" name="button">Delete</button></div></li>
  </ul>
</div>
