<h2>View Expenses</h2>
<p>Show me</p>
<select ng-model = "catDefine">
  <option disabled selected>Expenses</option>
  <option>All</option>
  <option>All Rent</option>
  <option>All Utilities</option>
  <option>All Misc. Bills</option>
  <option>All Transportation</option>
  <option>All Groceries</option>
  <option>All Entertainment</option>
  <option>All Other</option>
</select>
<p>Expenses from: </p>
<select ng-model = "minMonthDefine">
  <option disabled selected>Month</option>
  <option id = 01>Jan</option>
  <option id = 02>Feb</option>
  <option id = 03>Mar</option>
  <option id = 04>Apr</option>
  <option id = 05>May</option>
  <option id = 06>Jun</option>
  <option id = 07>Jul</option>
  <option id = 08>Aug</option>
  <option id = 09>Sep</option>
  <option id = 10>Oct</option>
  <option id = 11>Nov</option>
  <option id = 12>Dec</option>
</select>
<input type = "number" maxlength = "2" placeholder = "Day" ng-model = "mindayDefine">
<input type = "number" maxlength = "4" placeholder = "Year" ng-model = "minyearDefine">
<p>To: </p>
<select ng-model = "maxmonthDefine">
  <option disabled selected>Month</option>
  <option id = 01>Jan</option>
  <option id = 02>Feb</option>
  <option id = 03>Mar</option>
  <option id = 04>Apr</option>
  <option id = 05>May</option>
  <option id = 06>Jun</option>
  <option id = 07>Jul</option>
  <option id = 08>Aug</option>
  <option id = 09>Sep</option>
  <option id = 10>Oct</option>
  <option id = 11>Nov</option>
  <option id = 12>Dec</option>
</select>
<input type = "number" maxlength = "2" placeholder = "Day" ng-model = "maxdayDefine">
<input type = "number" maxlength = "4" placeholder = "Year" ng-model = "maxyearDefine">
<button type="button" ng-click = "getForMe()">Go</button>
